@charset "UTF-8";

@font-face {
	font-family: abster;
	src: url(../../font/abster-webfont.woff) format('woff');
}
/* 헤더 영역 */
* {
	margin: 0;
	padding: 0;
}

.contaniner {
	position: relative;
	min-height: 100%;
	padding: 20px;
	display: flex;
	flex-wrap: nowrap;
	gap: 1em;
}

.contaniner .header {
	width: 90%;
	height: 100px;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.contaniner .header  h2 a {
	text-decoration: none;
	color: black;
	font-family: abster;
}

.contaniner .nav ul li {
	display: inline-block;
	float: left;
	margin: 5px;
	text-align: center;
	line-height: 30px;
	padding: 5px;
}

.contaniner .nav ul li a {
	text-decoration: none;
	color: black;
	font-size: 15px;
}

.contaniner .nav ul li a:hover {
	color: orange;
}

/* main 영역 */

.container_animal{
	margin-bottom: 300px;
}
.image-box {
	width: 380px;
	height: 220px;
	overflow: hidden;
	margin: 0 auto;
}

.image-thumbnail {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.wrapper {
	margin-left: 130px;
	margin-right: 130px;
}

.select {
	width: 200px;
	margin: 10px;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 10px 1px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 200px;
	font-size: 13px;
	line-height: 5px;
}

.select:focus {
	border: 1px solid black;
	box-sizing: border-box;
}

input[type=text]:focus {
	border: 3px solid #555;
}


/* 검색창 */

.search1{
	text-align: center;
}

.select1{
	height:40px;
	width: 100px;
	border-color: orange;
	border-radius: 8px;
}



/* 푸터 */
.footer {
	bottom: 0;
	position:relative;
	border-top: 1px solid black;
	padding-top:20px;
	padding-bottom:50px;
	color: #808080;
	font-size: 15px;
}

.footer p {
	text-align: left;
	font-family: abster;
	margin-left: 50px;
}

.logo a {
	padding: 20px;
	padding-top:20px;
}

.btn {
	text-align: center;
}